.background{
	background-color:black;
	font-size:50px;
}
.sapMBtnInner{
	background-color:red;
}
.column{
	    background: rebeccapurple;
}
#__xmlview0--label-bdi{
font-size:200px;
	background:rebeccapurple;
}
/* Enter your custom styles here */